<% layout("./layouts/boilerplate") %>
<div class="edit-page">
    <h3>EDIT YOUR PAGE</h3>
    <form method="post" action="/allLists/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" class="edit-form">
        <div>
            <label for="title" class="form-label">
                <i class="fa-regular fa-hand-point-right"></i>
                Title
            </label>
            <input type="text" class="form-control" name="listings[title]" value="<%= listing.title %>">
        </div>
    
        <div>
            <label for="description" class="form-label">
                <i class="fa-solid fa-comment-dots"></i>
                Description
            </label>
            <textarea 
                name="listings[description]" 
                class="form-control"><%= listing.description %></textarea>
        </div>

        <div>
            Original Image <br>
            <img
                src="<%= modifyUrl %>"
                alt="img"
                style="height: 150px;
                margin-top: 5px;">
        </div>

        <div>
            <label for="image" class="form-label">
                <i class="fa-solid fa-image"></i>
                &nbsp;Uplode New Image
            </label>
            <input type="file" name="listings[image]" class="form-control">
        </div>
    
        <div class="oth">
            <div>
                <label for="price" class="form-label">
                    <b>&#8377;</b> Price
                </label>
                <input type="text" class="form-control" name="listings[price]" value="<%= listing.price %>">
            </div>
    
            <div>
                <label for="country" class="form-label">
                    <i class="fa-solid fa-location-dot"></i>
                    &nbsp;Country
                </label>
                <input type="text" class="form-control" name="listings[country]" value="<%= listing.country %>">
            </div>
        </div>
    
        <div>
            <label for="location" class="form-label">
                <i class="fa-solid fa-location-dot"></i>
                &nbsp;Location
            </label>
            <input type="text" class="form-control" name="listings[location]" value="<%= listing.location %>">
        </div>
    
        <button class="btn-success btn upd-btn">Update</button>
    </form>
</div>